%gilroy_thin {
  font-family: "Gilroy Thin";
  font-weight: 100;
}

%gilroy_light {
  font-family: "Gilroy Light";
  font-weight: 300;
}

%gilroy_regular {
  font-family: "Gilroy Regular", sans-serif;
  font-weight: 400;
}

%gilroy_medium {
  font-family: "Gilroy Medium", sans-serif;
  font-weight: 500;
}

%gilroy_semibold {
  font-family: "Gilroy Semibold", sans-serif;
  font-weight: 600;
}

%gilroy_bold {
  font-family: "Gilroy Bold", sans-serif;
  font-weight: 700;
}

%playfr_display {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

$yel_darker: #ff9900;
$yel_lighter: #ffb800;
$gray_text: #7c7c7c;
$white: #fff;
$black: #000;
